body{
    background-image: linear-gradient(
          rgba(16, 21, 61, 0.582), 
          rgba(16, 21, 61, 0.582)
        ),
    url("../IMG/blanco.png"); 
    background-size: 70rem;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    height: 100vh;
    flex-direction: column;
}
h1{
    display: block;
    border: 2px solid black;
    width: 95%;
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

form{
    width: 700px;
    border: 2px solid black;
    padding: 6rem;
    background-color:  rgba(16, 21, 61, 0.884);
    border: none;
    border-radius: 20px;
    color: blanchedalmond;
}

label{
    color: aliceblue;
    font-size: 18px;
    padding: 11px;
    font-weight: 350;
}

input{
    display: block;
    border: 2px;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

button{
    float: right;
    background-color: #0085FF;
    padding: .5rem;
    color: aliceblue;
    border: none;
    width: 60%;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
}

button:hover{
    background-color: aliceblue;
    color: black;
}

a{
    float: left;
    margin-left: 10px;
    padding: .5rem;
    text-decoration: none;
}

a:hover{
    color: white;
}

.circular--square {
    margin-inline-start: 110px;
    display: block;
    font-size: 18px;
    padding: 11px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.error{
    background-color: rgb(240, 47, 47);
    color: black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.success{
    background-color: green;
    border-radius: 5px;
    padding: 2px;
    color: #e4e4e4;
}